<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='after_rainy.css')}}>
    <title>Rainy Day</title>
</head>
<body style="background-color: #d8e2aa; font-family: 'Poppins', sans-serif;">
    <h1 style="text-align: center; font-size: 3rem; font-weight: bolder;">RAINY DAY</h1>
    <div class="rainyimg" style="text-align: center;">
        <img src="https://th.bing.com/th/id/R.b17dc02c06398a1c85a3e3ec65d94b53?rik=oofbWmNOvMnRJA&pid=ImgRaw&r=0" alt="Vasanth" style="max-width: 100%; height: auto; padding: 0 20px;">
    </div>
    <div style="text-align: center;">
        <h2 style="font-size: 2rem; font-weight: bold;">Tomorrow is going to be <span style="font-style: italic; font-weight: bold;">rainy day</span>. So enjoy yourselves with a cup of coffee and hot snack</h2>
   </div>
</body>
</html>
