<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static',filename='predictor.css')}}>
    <title>Rain Prediction</title>
</head>
<style>
    
    body {
        background-color: #c3cccd;
        background-image: url("https://th.bing.com/th/id/R.5bd555d0e9ddb4fc2a6e95d497bdab96?rik=9vy7OBznGh5oqA&pid=ImgRaw&r=0");
        font-family: 'Poppins', sans-serif;
    }
    .form {
        background-color: white;
        width: 70vw;
        margin: 50px auto;
        padding: 20px 50px;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        border-radius: 12px;
    }
    .form h1 {
        color: #f79c14;
    }

    .button {
        padding: 5px 30px;
        font-size: 18px;
    }
    .day-month{
        display: flex;
    }
</style>
<body>
    <section id="prediction-form">
          <h1>
            <a href="/" style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 200; font-size: medium; padding: 50px;">
                Home
            </a>
        </h1>
        <form class="form" action="/predict", method="POST">
            <h1 class="my-3 text-center">Predictor</h1>
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="day-month">
                        <div class="md-form">
                            <label for="Day" class="date" >Day</label>
                            <input type="number" class="form-control" id="Day" name="Day">
                        </div>
                        <div class="md-form">
                            <label for="Month" class="date" >Month</label>
                            <input type="number" min="1" max="12" class="form-control" id="Month" name="Month">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="MinTemp" class="mintemp"> Minimum temprature</label>
                        <input type="number" class="form-control" id="mintemp" name="mintemp">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="MaxTemp" class="maxtemp">Maximum Temperature</label>
                        <input type="number" class="form-control" id="maxtemp" name="maxtemp">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Rainfall" class="rainfall">Rainfall</label>
                        <input type="number" class="form-control" id="rainfall" name="rainfall">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindGustSpeed" class="windgustspeed">Wind Gust Speed</label>
                        <input type="number" class="form-control" id="windgustspeed" name="windgustspeed">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindSpeed9am" class="windspeed9am">Wind Speed 9am</label>
                        <input type="number" class="form-control" id="WindSpeed9am" name="WindSpeed9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindSpeed3pm" class="WindSpeed3pm">Wind Speed 3pm</label>
                        <input type="number" class="form-control" id="WindSpeed3pm" name="WindSpeed3pm">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Humidity9am" class="humidity9am">Humidity 9am</label>
                        <input type="number" class="form-control" id="Humidity9am" name="Humidity9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Humidity3pm" class="humidity3pm">Humidity 3pm</label>
                        <input type="number" class="form-control" id="Humidity3pm" name="Humidity3pm">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Pressure9am" class="pressure9am">Pressure 9am</label>
                        <input type="number" class="form-control" id="Pressure9am" name="Pressure9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Pressure3pm" class="pressure3pm">Pressure 3pm</label>
                        <input type="number" class="form-control" id="Pressure3pm" name="Pressure3pm">
                    </div>
                </div>
                
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Temp9am" class="temp9am">Temperature 9am</label>
                        <input type="number" class="form-control" id="Temp9am" name="Temp9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Temp3pm" class=temp3pm">Temperature 3pm</label>
                        <input type="number" class="form-control" id="Temp3pm" name="Temp3pm">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Cloud9am" class="cloud9am">Cloud 9am</label>
                        <input type="number" class="form-control" id="Cloud9am" name="Cloud9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Cloud3pm" class="cloud3pm">Cloud 3pm</label>
                        <input type="number" class="form-control" id="Cloud3pm" name="Cloud3pm">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Location" class="location" name="location">Location</label>
                        <select class="location" id="Location" name="Location" aria-label="Location">
                            <option selected>Select Location</option>
                            <option value="Adelaide">Adelaide</option>
                            <option value="Albany">Albany</option>
                            <option value="Albury">Albury</option>
                            <option value="AliceSprings">Alice Springs</option>
                            <option value="BadgerysCreek">Badgerys Creek</option>
                            <option value="Ballarat">Ballarat</option>
                            <option value="Bendigo">Bendigo</option>
                            <option value="Brisbane">Brisbane</option>
                            <option value="Cairns">Cairns</option>
                            <option value="Cobar">Cobar</option>
                            <option value="CoffsHarbour">Coffs Harbour</option>
                            <option value="Dartmoor">Dartmoor</option>
                            <option value="Darwin">Darwin</option>
                            <option value="GoldCoast">Gold Coast</option>
                            <option value="Hobart">Hobart</option>
                            <option value="Katherine">Katherine</option>
                            <option value="Launceston">Launceston</option>
                            <option value="Melbourne">Melbourne</option>
                            <option value="Melbourne Airport">Melbourne Airport</option>
                            <option value="Mildura">Mildura</option>
                            <option value="Moree">Moree</option>
                            <option value="MountGambier">Mount Gambier</option>
                            <option value="MountGinini">Mount Ginini</option>
                            <option value="Newcastle">Newcastle</option>
                            <option value="Nhil">Nhil</option>
                            <option value="NorahHead">Norah Head</option>
                            <option value="NorfolkIsland">Norfolk Island</option>
                            <option value="Nuriootpa">Nuriootpa</option>
                            <option value="PearceRAAF">Pearce RAAF</option>
                            <option value="Penrith">Penrith</option>
                            <option value="Perth">Perth</option>
                            <option value="Perth Airport">Perth Airport</option>
                            <option value="Portland">Portland</option>
                            <option value="Richmond">Richmond</option>
                            <option value="Sale">Sale</option>
                            <option value="Salmon Gums">Salmon Gums</option>
                            <option value="Sydney">Sydney</option>
                            <option value="Sydney Airport">Sydney Airport</option>
                            <option value="Townsville">Townsville</option>
                            <option value="Tuggeranong">Tuggeranong</option>
                            <option value="Uluru">Uluru</option>
                            <option value="WaggaWagga">Wagga Wagga</option>
                            <option value="Walpole">Walpole</option>
                            <option value="Watsonia">Watsonia</option>
                            <option value="William Town">William Town</option>
                            <option value="Witchcliffe">Witchcliffe</option>
                            <option value="Wollongong">Wollongong</option>
                            <option value="Woomera">Woomera</option>                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindGustDir" class="windgustdir" name = "windgustdir">Wind Gust Direction</label>
                        <select class="windgustdir" id="WindGustDir" name = "WindGustDir" aria-label="Wind Gust Direction">
                            <option selected>Select Wind Gust Direction</option>
                            <option value="N">N</option>
                            <option value="W">W</option>
                            <option value="S">S</option>
                            <option value="E">E</option>
                            <option value="NW">NW</option>
                            <option value="NE">NE</option>
                            <option value="SW">SW</option>
                            <option value="SE">SE</option>
                            <option value="NNW">NNW</option>
                            <option value="NNE">NNE</option>
                            <option value="SSW">SSW</option>
                            <option value="SSE">SSE</option>
                            <option value="WNW">WNW</option>
                            <option value="WSW">WSW</option>
                            <option value="ENE">ENE</option>
                            <option value="ESE">ESE</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindDir9am" class="winddir9am" name = "winddir9am">Wind Direction at 9am</label>
                        <select class="WindDir9am" id="WindDir9am" name="WindDir9am" aria-label="Wind Direction 9am">
                            <option selected>Select Wind Direction at 9am</option>
                            <option value= 1>N</option>
                            <option value= 5>W</option>
                            <option value= 10>S</option>
                            <option value= 15>E</option>
                            <option value= 2>NW</option>
                            <option value= 9>NE</option>
                            <option value= 7>SW</option>
                            <option value= 13>SE</option>
                            <option value= 0>NNW</option>
                            <option value= 3>NNE</option>
                            <option value= 8>SSW</option>
                            <option value= 11>SSE</option>
                            <option value= 4>WNW</option>
                            <option value= 6>WSW</option>
                            <option value= 12>ENE</option>
                            <option value= 14>ESE</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="WindDir3pm" class="winddir3pm" name = "winddir3pm">Wind Direction at 3pm</label>
                        <select class="winddir3pm" id="WindDir3pm" name = "WindDir3pm" aria-label="Wind Direction at 3pm">
                            <option selected>Select Wind Direction at 3pm</option>
                            <option value="N">N</option>
                            <option value="NW">NW</option>
                            <option value="NNW">NNW</option>
                            <option value="NNE">NNE</option>
                            <option value="W">W</option>
                            <option value="WNW">WNW</option>
                            <option value="WSW">WSW</option>
                            <option value="SW">SW</option>
                            <option value="S">S</option>
                            <option value="SE">SE</option>
                            <option value="SSW">SSW</option>
                            <option value="SSE">SSE</option>
                            <option value="E">E</option>
                            <option value="ENE">ENE</option>
                            <option value="ESE">ESE</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="RainToday_Yes" class="raintoday" name="raintoday">Rain Today</label>
                        <select class="raintoday" id="RainToday_Yes" name="RainToday_Yes" aria-label="Rain Today">
                            <option selected>Did it Rain Today</option>
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2 d-flex align-items-end justify-content-around">
                    <button type="submit" class="btn btn-info button" style="margin-left: 100%;">Predict</button>
                </div>
            </div>
        </form>
    </section>
    <div>
         <h1><center> {{ prediction }} </center></h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>